<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cozy Journal Login</title>
  <link rel="stylesheet" href="../css/Login.css">
</head>
<body>
  <div class="login-container">
    <h1>Cozy Journal</h1>

    <p class="text1">Welcome back! Please log in to continue your journey of daily reflections, mood tracking, and cherished memories.</p>
    <%if(locals.msg){%>
        <p><%= msg%></p>
        <%}%>
    <form action="/" method="post">
    <input type="text" name="Username" placeholder="Username" required>
    <input type="password" name="Password" placeholder="Password" required>
    <button>Sign in</button>
    </form>
    <div class="footer">
      Don't have an account? <a href="/signUp">Register</a>
    </div>
  </div>
</body>
</html>
